:root {
  --main-color: rgb(255, 102, 0); 
  --font-color:#404040;
}
* { 
  box-sizing: border-box; 
} 
body {
  max-width: 950px;
  margin: auto;
  font-family:Georgia, 'Times New Roman', Times, serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  letter-spacing: 2px; 
}

.App-header {
  display: flex;
  color:var(--main-color);
  border-bottom: 1px solid rgba(14, 12, 12, 0.164);
}
a { 
  color: var(--font-color); 
  font-weight: 500; 
  text-decoration: none; 
  padding: 20px;
  display: inline-block; 
  width: 100%; 
  text-align: center; 
}  
a:hover { 
  background: var(--main-color);
}
.navbar ul {
  list-style: none;
  display: flex;
}
.navbar li {
  flex: 3; 
}
.blog-preview {
  border-bottom:1px solid rgba(14, 12, 12, 0.164);
  margin-top: 20px;
  padding: 5px;
}
.blog-list {
  margin-top: 50px;
}

.blog-tag{
  background-color: var(--main-color);
  width: fit-content;
  padding: 5px;
  color: #fff;
  border-radius: 5px;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 1px;
  margin-top: 5px;
}
.blog-title {
  margin-top: 10px;
}
.blog-reading-time {
 color: rgba(0, 0, 0, 0.74);
}
.removeb-blog-icon {
  display: flex;
  margin-left: auto;
  padding: 3px;
}